@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.title {
    background-color: transparent;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .title h1 {
    font-family: 'Caveat', cursive;
    cursor: default;
    padding: 1rem 2rem;
    border: 1px solid #005d55;
    border-width: 2px;
    background-color: #0fd20837;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-right: 1rem;
  }
  